@import url("usercolors.css");
body {
	padding: 0;
	margin: 0;
}

#content {
	position: relative;
	padding: 1em 1em 66em 1em;
	width: auto;
}
#content #chatList {
	position: relative;
	margin: 0;
	top: 0;
	left: 0;
	bottom: 0;
	clear: both;
}
#content #chatList .login {
	opacity: .2;
}

time {
	font-size: 80%;
}
time a {
	text-decoration: none;
	color: #808080;
}

dl {
	margin: 0;
	padding: 0;
}
dt {
	margin: 0;
	padding: .5em 1em 0 1em;
}
dd {
	margin: 0;
	padding: 0 0 .1em 7em;
}

ul.navigation {
	padding: 0;
	list-style-type: none;
}
ul.navigation li {
	display: inline-block;
	width: 33%;
}
ul.navigation li.previous {
	text-align: left;
}
ul.navigation li.up {
	text-align: center;
}
ul.navigation li.next {
	text-align: right;
}

div.index {
	text-align: right;
}
